<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styleSheets/styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="main bg-[#003049] flex items-center justify-center p-[1rem] h-screen">
      <div class="sub-main bg-[#caf0f8] border-[1px]  p-[0.7rem] border-black rounded-md my-[1rem] h-[98%] w-[70%] overflow-y-auto">
         <a href="/" class="link  bg-white px-[12px] py-[6px] rounded-md text-[1.1rem] text-blue-700 ">Go back...</a>
          <h1 class="  text-[1.3rem] mt-[12px] w-full bg-white rounded-md px-[12px]"><%= fileName %></h1>
          <p class=" text-[1rem] mt-[12px] pt-[2px] w-full bg-white h-[4rem] rounded-md px-[12px]"><%= fileData  %></p>
      </div>
    </div>

    <script src="/javaScripts/script.js"></script>
  </body>
</html>
